<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
    <%- include('partials/nav'); %>
    <div class="container">
      <h1>Welcome to the 'Home page' of the best website on the planet!</h1>
      <p>A bootstrap table displays student and their selected courses</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id no.</th>
            <th>Name</th>
            <th>Course</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr class="success">
            <td>1</td>
            <td>Sushma</td>
            <td>ADMT</td>
            <td>Mumbai</td>
          </tr>
          <tr class="warning">
            <td>2</td>
            <td>Rafat</td>
            <td>ADSA</td>
            <td>Pune</td>
          </tr>
          <tr class="danger">
            <td>3</td>
            <td>Zeba</td>
            <td>CNS</td>
            <td>Kolkata</td>
          </tr>
          <tr class="info">
            <td>4</td>
            <td>Senorita</td>
            <td>AT</td>
            <td>Chennai</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script
  src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
