body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

/*#todo-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}*/
.container{
  margin-top: 3%;
}

input{
    width: 68%;
    height: 3em;
    padding: 20px;
    background:#181c22;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    width: 30%;
    height: 3em;
    float: right;
    background: #B22222;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.list-item{
  position: absolute;
  top: 60%;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

h2{text-align: center;}
h1{
    background: url(/assets/logo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
}
